mixin map(data)
    //map
    .map&attributes(attributes)
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A64a72ab4e553640960411c743530d7c6768eeab6849a34bbad92a167564c99d3&amp;width=100%&amp;height=200&amp;lang=ru_RU&amp;scroll=true"></script>
    //end map