.service-list
    &__item
        font-family TitleFont
        //font-size medium-size_small
        color white
        font-weight 300
        padding .5rem 0
        border-bottom 1px solid rgba(black, .12)
        &:last-child
            border-bottom none
    &__price
        font-weight bold
        color dark-color
    &__price .fa-rub
        font-size small-size
