mixin service-list(data)
    //service-list
    ul.service-list&attributes(attributes)
        li.service-list__item
            | Ключевая услуга №1 - 
            span.service-list__price 3500 
                i.fa.fa-rub
        li.service-list__item
            | Ключевая услуга №2 - 
            span.service-list__price 5500 
                i.fa.fa-rub
        li.service-list__item
            | Ключевая услуга №3 - 
            span.service-list__price 9500 
                i.fa.fa-rub
    //end service-list

        
