.section
    padding 5% 0
    position relative
    &__title
        font-size big-size_small
        text-align center
    &__form
        padding 10% 0
        margin 0 5%
        color rgba(black,.8)
    &_saloon
        background-image url("%=static=%content/photos/photo-16.jpg")
        background-size cover
        background-position center
    &_feedback
        background-image url("%=static=%content/bg-2.jpg")
        background-size cover
        background-position center
    &_form
        background-image url("%=static=%content/lady.jpg")
        background-size contain
        background-repeat no-repeat
        background-position 20%
    &_partners
        background-image url("%=static=%content/bg-3.jpg")
        background-size cover
        background-position center
        
    &_overlay
        &:before
            position absolute
            content ''
            display block
    &_overlay_size_fullscreen
        &:before
            top 0
            bottom 0
            left 0
            right 0
    &_overlay_size_halfscreen
        &:before
            width 50%
    &_overlay_position_right
        &:before
            top 0
            right 0
            bottom 0
    &_overlay_color_accent
        &:before
            background-color accent-color
            opacity .92
    &_overlay_color_dark
        &:before
            background-color brown-color
            opacity .92
    &_overlay_color_white
        &:before
            background-color white
            opacity .92
