include ../../components/button/button.pug

mixin promo(data)
    //promo
    .promo&attributes(attributes)
        header.promo__header
            p.promo__suptitle
                span.promo__suptitle-text Добро пожаловать в профессиональный
            h1.promo__title Салон красоты
            p.promo__subtitle
                i.fa.fa-star 
                |в Москве
                i.fa.fa-star
        p.promo__descr 
            span.promo__descr-name-company S&Mitler 
            |- это салон красоты бизнес-класса. Мастера салона дарят посетителям уверенность в себе и индивидуальный стиль. Здесь представлены все самые востребованные услуги бьюти-индустрии.
        +button('О салоне').promo__button.button_theme_active.button_size_default
    //end promo
