doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/loader/loader.pug
    include ../components/header/header.pug
    include ../components/navbar/navbar.pug
    include ../components/header-content/header-content.pug
    include ../components/sidebar/sidebar.pug
    include ../components/promo/promo.pug
    include ../components/services/services.pug
    include ../components/section/section.pug
    include ../components/article/article.pug
    include ../components/slider/slider.pug
    include ../components/form/form.pug
    include ../components/feedbacks/feedbacks.pug
    include ../components/partners/partners.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body.page#page
        |%=symbols=%
        +loader#loader
        +header.page__header
            +navbar.header__navbar
            +header-content.header__header-content
        +sidebar.page__sidebar#sidebar
        +services
        +section.section_saloon.section_overlay.section_overlay_size_fullscreen.section_overlay_color_dark
            .container
                .row
                    .col-md-5
                        +article('Королевский','Салон',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem dolores harum officia dignissimos! Minus voluptates, dolor accusantium? Autem amet sapiente suscipit qui voluptates unde facere quasi? Minima eius unde quis.')
                    .col-md-7
                        +slider('photo-13.jpg','photo-15.jpg','photo-16.jpg','photo-18.jpg','photo-19.jpg','photo-23.jpg').fotorama
        +section.section_form.section_overlay.section_overlay_size_halfscreen.section_overlay_position_right.section_overlay_color_accent
            .container
                .row
                    .col-md-5.col-md-offset-7.col-sm-6.col-sm-offset-6
                        +form.section__form
        +section.section_feedback.section_overlay.section_overlay_size_fullscreen.section_overlay_color_dark
            .container
                .row
                    .col-sm-12
                        +title('Отзывы','Наших клиентов').section__title
                    .col-sm-8.col-sm-offset-2
                        +feedbacks.owl-carousel.section__feedbacks#feedbacks-carousel
        +section.section_partners.section_overlay.section_overlay_size_fullscreen.section_overlay_color_white
            .container
                .row
                    .col-sm-12
                        +title('Наши партнеры').section__title.title_color_accent
                    .col-sm-10.col-sm-offset-1
                        +partners.owl-carousel#partners-carousel
        +footer#my-footer.page__footer

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')