// File for less-vars.
// For example: main colors, paddings and so on.

//COLOR VARS

accent-color = #F9C869
blue-color = #66C7CD
red-color = #F86868
grey-color = #555
dark-color = #2C2C2C
brown-color = #3D3C3D
purpur-coor = #7200a3
 
//FONTS SIZE VARS
giant-size = 4.1rem
giant-size_medium = 3.3rem
big-size = 3rem
big-size_small = 2rem
medium-size = 1.25rem
medium-size_small = 1.125rem
default-size = 1rem
small-size = 0.875rem
tiny-size  = 0.75rem
micro-size = 0.5rem

//SCREEN VARS
large-screen = 75rem //1200
medium-screen = 62rem //992
tablet-screen = 48rem //768
mobile-screen = 30rem //480