include ../../components/option/option.pug

mixin select(data)
    //select
    select.select&attributes(attributes)
        each item in data
            if item.disabled
                option(disabled selected hidden)= item.text
            else
                option(value= item.value).option.select__option= item.text
    //end select