include ../../components/menu/menu.pug

mixin sidebar(data)
    //sidebar
    aside.sidebar&attributes(attributes)
        +logo('logo-1.svg').sidebar__logo
        +menu(menu.sidebar)#menu.sidebar__menu
    //end sidebar
