include ../../components/feedback/feedback.pug

mixin feedbacks(data)
    //feedbacks
    .feedbacks&attributes(attributes)
        +feedback('Оксана','06.07.2017(Стрижка)','5','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe voluptas consectetur vitae tenetur, illum omnis libero distinctio itaque soluta harum maiores ut nisi deserunt laboriosam error dolor amet cupiditate corporis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit adipisci omnis velit magni aperiam sint ab voluptas beatae sunt illum, nostrum quia rem obcaecati modi sequi tenetur error, at ex.')
        +feedback('Марина','08.08.2017(Маникюр)','4','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim incidunt, animi, itaque corporis explicabo assumenda, in iure reiciendis blanditiis ab quos, illum repellat obcaecati quis.')
        +feedback('Ирина','010.08.2017(SPA и Массаж)','5','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe voluptas consectetur vitae tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorum vel facere, officia voluptate quasi ratione in deserunt maxime non, obcaecati illum quas corporis laboriosam odit magnam tempora reiciendis, sapiente!')
    //feedbacks
