.footer
    padding 1rem 0
    &__column
        margin 1rem 0
    &__logo
        width 7.813rem
        height auto
    &__logo-descr
        font-size small-size
        color #666
    &__address
        position relative
        font-size small-size
        color white
        margin 0 0 1rem
        padding-left 1.5rem
        .fa 
            position absolute
            top 0.375em
            left 0
            font-size medium-size_small 
            color #555
    &__telephone
        position relative
        text-align left
        font-size medium-size_small
        padding-left 1.5rem
        color white
        white-space no-wrap
        .fa 
            position absolute
            top 0.375em
            left .25rem
            font-size medium-size_small 
            color #555