.title
    color white
    text-transform uppercase
    font-family 'RalewayExtraBold', Helvetica, Arial, sans-serif
    margin 0
    
    &__accent
        color accent-color
        padding-left .4rem
    &_color_accent
        color accent-color
