@media only screen and (max-width large-screen)
    .promo__title
        font-size giant-size_medium
    .header-line__contacts
        font-size small-size
    .telephone_size_default 
        font-size small-size
    .contacts .fa
        margin-right .6rem
    .section_form
        background-size cover

@media only screen and (max-width medium-screen)
    .promo__title
        font-size big-size
    .promo__button
        margin-top 0
    .contacts
        text-align center
    .contacts .col-sm-12
        padding-bottom .312rem
    .contacts .col-sm-12:last-child
        padding-bottom 0
    .services__service-item
        flex-direction column
    .section_form
        background-size cover
    .page__header
        min-height auto
        background-position center bottom

@media only screen and (max-width tablet-screen)
    .promo__title
        font-size big-size_small
    .owl-carousel .owl-item .service-item__img
        display none
    .section_overlay_size_halfscreen:before
        width 100%
    .section__form
        text-align center
    .service-item__title
        font-size medium-size_small
    .service-item__subtitle
        font-size medium-size_small
    #services-carousel
        .owl-nav
            > div
                width 3.2rem
                height 3.2rem
                line-height 3.2rem
    .button_size_default
        padding 0.75rem 2rem
        font-size small-size
    .form__input 
        margin 1rem auto 0 auto
    .chosen-container .chosen-single
        text-align left
    .feedback__wrap:after,
    .feedback__wrap:before
        display none
    .feedback__paragraph
        padding 1rem 0 0 0
    .col-lg-4:first-child
        text-align center
    #partners-carousel
        .owl-nav
            > div
                top 2rem
                &.owl-prev
                    left 0
                &.owl-next
                    right 0

@media only screen and (max-width mobile-screen)
    .header-content__container
        left 0
    .page__header
        background-position center left
    .promo__header
        display none
    .navbar__telephone
        display none
    .page_is_open .navbar__hamburger
        transform translate(-5rem, .4rem)
    .promo__suptitle-text
        font-size micro-size
    .promo__title
        font-size medium-size
    .promo__subtitle
        margin-top 1rem
        font-size small-size
    .promo__descr
        margin-top 1.5rem
        font-size small-size
    .header-content__header-line
        background-color dark-color
    .sidebar_is_open
        left 0
        width auto
    .sidebar__menu
        text-align center
    .button_size_default
        padding: 0.75rem 2rem
        font-size: tiny-size
    .section
        padding 8% 0
    .service-item__title
        font-size medium-size_small
    .service-item__subtitle
        font-size default-size
    .service-list__item
        font-size small-size
    .article__title
        font-size medium-size
    .article__text
        font-size small-size  
    .fotorama__nav-wrap
        display none
    .form__title
        font-size medium-size
    .section__title
        font-size medium-size
    .feedback__title
        font-size medium-size_small
    .footer__telephone
        font-size small-size
@media only screen and (max-width: 25rem)
    .page_is_open .navbar__hamburger
        transform translate(-1rem, .4rem)
// @media only screen and (max-width: 320px)