.option
    outline none
    color dark-color 
    background-color white
    padding .5rem 1.375rem
    border 0
    margin 0 
    &:focus,
    &:active
        outline none
    &:checked
        color dark-color
        background: linear-gradient(#F9C869, #F9C869);