.header-content
    display flex
    height 100%
    position relative
    top 0
    &__container
        margin auto
        text-align center
    &__promo
        color white
    &__header-line
        background-color alpha(dark-color,.3)