include ../../components/promo/promo.pug
include ../../components/header-line/header-line.pug
include ../../components/socials/socials.pug
include ../../components/contacts/contacts.pug

mixin header-content(data)
    //header-content
    .header-content&attributes(attributes)
        .container.header-content__container
            .row
                .col-md-6.col-sm-7.col-xs-10
                    +promo.header-content__promo
        +header-line.header-line_right
            +socials(socials.header.mod).header-line__socials
        +header-line.header-line_bottom.header-content__header-line
            .container
                .row
                    +contacts.header-line__contacts
    //end header-content