.button
    display: inline-block
    border: none
    text-decoration: none
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 3px
    border-radius: 2px
    text-align: center
    position: relative
    outline: none
    transition: background-color .3s ease
    &::after
        transition: background-color .3s ease
        position: absolute
        content: ''
        height: 4px
        bottom: 0
        width: 100%
        opacity: .18
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px
        left: 0
    &_size_default
        padding: 1rem 2.5rem
        font-size: small-size
    &_size_small
        padding: 0.75rem 2rem
        font-size: small-size
    &_theme_active
        color: #fff
        background-color: accent-color
        &::after
            background-color: darken(accent-color, 50%)
        &:hover
            background-color: lighten(accent-color, 15%)
            &::after
                opacity: .22
        &:active
            background-color: darken(accent-color, 15%)
            &::after
                opacity: .32
        &:focus, &:hover
            text-decoration: none
            color: #fff
    &_theme_default
        color: dark-color
        background-color: white
        &::after
            background-color: darken(white, 50%)
        &:hover
            background-color: darken(white, 3%)
            &::after
                opacity: .22
        &:active
            background-color: darken(white, 10%)
            &::after
                opacity: .32
        &:focus, &:hover
            text-decoration: none
            color: dark-color
        
        
        
