.modal
    //display none 

.form
    &__logo
        width 6.250em
        height auto
    &__title
        font-size big-size_small
    &__subtitle
        margin-top 0 
    &__input
        width 100%
        background-color transparent
        border 1px solid rgba(black,.1)
        border-bottom-width 2px
        display block
        color rgba(0,0,0,0.8)
        margin-top 1rem
    &__select
        width 100%
        outline none
    &__select:focus,
    &__input:focus
        border-color rgba(black,.5)
    &__button
        margin-top 1rem
        position relative
        right -1px
