.socials
    &__social-link_header + &__social-link_header
        margin-top .7rem
    &__social-link_footer
        display inline-block
    &__social-link_footer + &__social-link_footer
        margin-left .7rem
        
        