include ../../components/social-link/social-link.pug

mixin socials(data)
    //socials
    nav.socials&attributes(attributes)
        - var itemClasses = ['socials__social-link']
        if data === 'header' || data === 'footer'
            - itemClasses.push(itemClasses[0] + '_' + data)
        +social-link('javascript:void(0)')(class=itemClasses)
            i.fa.fa-facebook
        +social-link('javascript:void(0)')(class=itemClasses)
            i.fa.fa-instagram
        +social-link('javascript:void(0)')(class=itemClasses)
            i.fa.fa-vk
    //end socials