.social-link
    width 2.5rem
    height 2.5rem
    border-radius 50%
    text-align center
    line-height 2.5rem
    color dark-color
    background-color alpha(#fff,.3)
    transition background-color .3s
    &:hover
        background-color alpha(#fff, .4)
