mixin slider(...images)
    //slider
    .slider(data-nav="thumbs" data-thumbwidth="130" data-thumbheights="70" data-thumbborderwidth="5" data-thumbmargin="10" data-width="100%")&attributes(attributes)
        each image in images
            img(src="%=static=%img/content/photos/small/"+image alt="Фото салона Красоты")
    //end slider