include ../../components/partner/partner.pug

mixin partners(data)
    //partners
    .partners&attributes(attributes)
        +partner('brend1','brend-1')
        +partner('brend2','brend-2')
        +partner('brend3','brend-3')
        +partner('brend4','brend-4')
        +partner('brend2','brend-2')
        +partner('brend4','brend-4')
    //end partners