.service-item
    &__content
        text-align center
        padding 1.785rem 8%
    &__title
        margin 0
        text-transform uppercase
        color white
        font-family MainFontExtraBold
        font-size 1.5rem
        font-weight 800
    &__subtitle
        font-family MainFont
        display block
        font-size medium-size
    &__service-list
        m-nl()
    &__button
        margin-top 1rem
    &__img
        background-size contain
        background-position center
#services-carousel .service-item__logo
        display inline-block
        width 6.25rem

