.feedback
    &__title
        font-family 'Times New Roman', Helvetica, serif
        font-size big-size_small
        font-style italic
        font-weight bold
    &__date
        font-family 'Times New Roman', Helvetica, serif
        font-style italic
    &__stars
        margin-top .5rem
        color accent-color
        .fa-star+.fa-star
            margin-left .5rem
    &__wrap
        position relative
        &:before,&:after
            content ',,'
            line-height 0
            position absolute
            color accent-color
            font-size giant-size_medium
            font-family 'Times New Roman', Arial, serif
            font-weight bold 
            
        &:before
            left 0rem
            top 12rem
            transform rotate(180deg)
        &:after
            right 0rem
            top 10rem
    &__paragraph
        padding 1rem 4rem 0 4rem
        font-size small-size
