include ../../components/stars/stars.pug
include ../../components/paragraph/paragraph.pug

mixin feedback(title, date, stars, text)
    //feedback
    .feedback&attributes(attributes)
        .feedback__wrap
            .feedback__title= title
            .feedback__date= date
            +stars(stars).feedback__stars
            +paragraph(text).feedback__paragraph
    //end feedback